
@model IEnumerable<Category>


<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Product" asp-action="Index" class="nav-link text-dark">All Products</a>
    </li>

    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ProductByCategory" asp-route-categorySlug="@item.Slug">@item.Name</a>
        </li>
    }
</ul>
